/*
    Variablen:
*/

@header-font: Georgia;

h1, h2, h3, h4 {
  font-family: @header-font;
  color: @colorRed;
}

/*
    Eine andere .less Datei einbinden:

    die Datei wird so eingebunden, als wäre sie hier geschrieben.
*/

@import 'colors.less';
@import "grid.less";

/*
    Header
*/
.headerBox{
  width: 100%;
  height: 200px;
}


/*
    Debugging:
*/

.debug{
  border: solid 1px @colorRed;
}