/*------------variables.less----------------*/
/*------------mixings.less----------------*/
/*------------helper.less----------------*/
a:active,
a:focus {
  outline: none;
}
.btn:active,
.btn:focus {
  outline: none;
}
.debug {
  border: 1px solid #ff0000;
}
.debug-sm {
  border: solid 1px blue;
}
.abtest {
  border: 1px solid crimson;
}
.hide {
  visibility: hidden !important;
}
.width-auto {
  width: auto !important;
}
.width-100pc {
  width: 100% !important;
}
/* Sichtbar auf: */
.hidden-on .col-xs-6 .visible-lg-block,
.hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-sm-block,
.hidden-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-lg-block,
.visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-sm-block,
.visible-on .col-xs-6 .visible-xs-block {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847;
}
.responsive-utilities-test span {
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  padding: 15px 10px;
  text-align: center;
}
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}
/*------------bootstrap_components.less----------------*/
.btn {
  margin-left: 2px;
}
.btn:hover {
  background-color: #E6E6E6 !important;
  border-color: #ADADAD !important;
  color: #000011;
}
.btn-primary {
  color: #ffffff;
  background-color: #75B3C1;
  border-color: #75B3C1;
}
.btn-info {
  margin-left: 10px !important;
  background-color: #75B3C1;
  border-color: #75B3C1;
  color: #ffffff;
}
.optionen {
  padding-left: 7px;
  background-color: #75B3C1;
  border-color: #75B3C1;
  color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #94E294;
  border-color: #94E294;
}
/*------------header.less----------------*/
body {
  padding: 150px !important;
}
/*
body.unshrinked  {
  .body-padding(130px);
}

body.shrinked  {
  .body-padding(80px);
}
*/
.navbar {
  min-height: 40px !important;
}
.logo {
  height: 75px;
}
.suche {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: none !important;
  border-radius: 0 !important;
}
.form-group-suche {
  width: 100% !important;
  display: inline-flex !important;
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
}
.form-group-suche input {
  margin-right: 5px !important;
}
/* Service Menue */
.mini-basket-center {
  margin-top: 5px !important;
}
.symbol-basket {
  margin: 0 !important;
  padding: 5px 5px !important;
}
.symbol-flags {
  margin-left: 8px 0 !important;
  padding: 10px 5px !important;
}
.navbar-suche {
  margin: 8px 0 !important;
  padding: 10px 15px !important;
}
.breite-100pc {
  width: 100% !important;
}
.navbar-menue {
  padding: 10px 30px !important;
  min-width: 768px !important;
}
.div-navbar-menue {
  display: block !important;
}
.navbar-nav > .dropdown > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #75b3c1 !important;
  -moz-border-bottom-colors: #76a8c1;
  -moz-border-left-colors: #76a8c1;
  -moz-border-right-colors: #76a8c1;
  -moz-border-top-colors: #76a8c1;
  border-image: none !important;
  border-style: solid !important;
  border-width: 1px !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
}
.service-leiste {
  overflow: visible !important;
}
.shrinked #header .searchBox {
  top: 10px;
  width: 250px;
  left: 10%;
}
.shrinked #header .searchBox input[type=text] {
  height: 30px;
  max-width: 87% !important;
  float: left;
  font-size: 14px;
  z-index: 99;
}
.shrinked #header .searchBox button {
  height: 30px;
  width: 30px;
  float: left;
}
.unshrinked #header .searchBox button i {
  font-size: 1em !important;
}
.shrinked #header .searchBox button i {
  font-size: 1em !important;
}
.shrinked #header .resultspresent input[type=text] {
  display: block !important;
}
.unshrinked #header .searchBox input[type=text] {
  max-width: 87% !important;
  height: 30px;
  float: left;
  font-size: 14px;
}
#header #results {
  display: none;
  position: absolute;
  margin-left: 3px!important;
  top: 51px;
  border: 1px solid       #e7e7e7;
  border-top: none !important;
  background-color: #fff;
  z-index: 1500;
}
/*#header #results :hover{
  border: 1px solid #66afe9;
  border-top: none !important;
}*/
#header #results .first {
  display: none;
}
#header #results .image,
#header #results .title {
  padding-left: 5px;
  padding-right: 5px;
}
.resall :hover {
  background-color: #66afe9;
  color: #FFFFFF;
}
.newsbox {
  margin-left: auto;
  margin-right: auto;
}
.newsbox h3 {
  margin-left: auto !important;
  margin-right: auto !important;
}
/*------------verschachteln.less----------------*/
/*------------mediaquerys.less----------------*/
/* Media Queries */
@media (max-width: 589px) {
  /*
  #logo {
    margin-top: 1px;
    display: block;
    background-image: url(../img/logo-small.png);
    background-repeat: no-repeat;
    width: 148px;
    height: 49px;
  }
  */
}
@media (max-width: 768px) {
  .unshrinked #header {
    height: auto;
  }
  .unshrinked #header .searchBox {
    right: 0px !important;
    top: 60px !important;
  }
  .unshrinked #header .searchBox input[type="text"] {
    font-size: 14px !important;
    height: 30px !important;
    width: 300px !important;
  }
  .shrinked #header .searchBox {
    right: 100px !important;
    top: 10px !important;
  }
}
@media (min-width: 768px) {
  .unshrinked #header .searchBox {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .unshrinked #header .searchBox {
    right: 0px !important;
    top: 60px !important;
  }
  .unshrinked #header .searchBox input[type="text"] {
    font-size: 14px !important;
    height: 30px !important;
    width: 300px !important;
  }
  .shrinked #header .searchBox {
    right: 100px !important;
    top: 10px !important;
  }
  /*
  .div-navbar-menue{
    padding-left: 0 !important;
    min-width: 800px !important;
    margin-left: -5% !important;
  }
  .dre-nav-oben{
    margin-left: -5% !important;
  }*/
}
@media (max-width: 855px) {
  .nav > li > a {
    font-size: 7pt;
  }
  /*
  .navbar-nav  {
    background-color: floralwhite;
  }

  .dropdown-menu .dropdown-submenu:hover .dropdown-menu{
    display: none !important;
  }*/
}
@media (min-width: 855px) {
  .shrinked #header .navbar-collapse {
    width: 100% !important;
    z-index: 99;
  }
  .shrinked #header .nav > li > a {
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
  }
  /*
  ul.nav > li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .navbar-nav > .dropdown > a {
    text-transform: uppercase;
    border: 1px solid;
    background-color: #75B3C1 !important;
    color: #FFF !important;
    border-color: #76A8C1 !important;
  }
  .navbar-nav > .dropdown > a:hover {

    background-color: #E6E6E6 !important;
    border-color: #ADADAD !important;
    color: #001 !important;
  }
  */
}
@media (min-width: 992px) {
  .div-navbar-menue {
    padding-left: 10% !important;
    min-width: 990px !important;
    margin-left: 0 !important;
  }
  .dre-nav-oben {
    padding-left: 11% !important;
    margin-left: 0 !important;
  }
  /*
  nav .navbar > ul > li .logo > a > img {

      width: 25% !important;
      height: 25% !important;

    }



    .div-navbar-menue{
      padding-left: 10% !important;
      min-width: 990px !important;
      margin-left: 0 !important;
    }
    .dre-nav-oben{
      padding-left: 11% !important;
      margin-left: 0 !important;
    }
    */
}
@media (min-width: 1200px) {
  .div-navbar-menue {
    padding-left: 15% !important;
    min-width: 1150px !important;
  }
  .dre-nav-oben {
    padding-left: 1% !important;
  }
  /*
  .div-navbar-menue {
    padding-left: 15% !important;
    min-width: 1150px !important;
  }

  .dre-nav-oben {
    padding-left: 1% !important;
  }*/
}
/*-----------------basketcontents.less-------------------*/
.weightCol {
  min-width: 80px;
}
/*------------liste.less----------------*/
/**
 * Ampel
 */
div.stockFlagBox {
  display: inline-block;
  height: 12px;
  width: 17px;
  position: relative;
  margin-bottom: -3px;
  margin-left: 5px;
}
div.notOnStock {
  background-color: #FF0000;
}
div.lowStock {
  background-color: #FFFF00;
}
div.onStock {
  background-color: #00FF00;
}
/**
 * Columns stuff
 */
.ebenetitel .headline {
  font-weight: bold;
}
.ebenetitel {
  width: 650px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.tableselections .ebenetitel {
  width: 630px;
}
.ebeneprice {
  width: 250px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ebenepreisneu {
  width: 194px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ebeneselect {
  /*width: 100px;*/
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
td.imagecolumn {
  width: 78px;
}
.tableselections .tabellenspalte .bootstrap-touchspin-down {
  margin-left: 2px !important;
}
.tableselections .imagecolumn {
  width: 88px;
}
.tableselections .Warenkorb {
  width: 152px;
}
.tableselections .selprice {
  width: 95px;
  text-align: right;
}
.tableselections .selprice .price {
  margin-right: 6px;
}
.tableselections .ampelcolumn {
  padding-left: 8px !important;
}
td.uvptitle {
  width: 52px;
}
td.uvpprice,
td.selprice {
  width: 95px;
  text-align: right;
}
.starttext {
  /*margin-left: 60px;
  display: block;
  justify-content: center;
  margin-left: 95px;
  */
  margin-left: auto;
  margin-right: auto;
  width: 942px;
}
.selprice {
  min-width: 120px !important;
  max-width: 120px !important;
}
td.ampelcolumn {
  min-width: 185px !important;
  font-size: 10px;
}
tr.articleselect {
  display: none;
}
tr.articleselect > td {
  padding: 0px !important;
}
.tableselections td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.articleselect .btn-basket {
  margin-left: 22px !important;
}
tr.highlight td {
  background-color: #428bca;
}
/*------------import.less----------------*/
#darkInizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  color: white;
  width: 100%;
  height: 100%;
}
#alertLoggedOut {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  z-index: 10000;
}
.articleselect .btn-basket,
.tabellenspalte .btn-basket,
.tabellenspalte .btn-favorite,
.tabellenspalte .btn-info,
.tabellenspalte .btn-show-variants {
  font-size: 10px !important;
  padding: 1px 12px !important;
  margin-left: 5px !important;
}
.tabellenspalte .btn-basket span,
.tabellenspalte .btn-show-variants span {
  width: 85px !important;
  display: inline-block;
}
.tabellenspalte .btn-basket {
  position: relative !important;
  float: right !important;
  right: 1px !important;
  margin-top: 20px;
}
.tableselections td {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/**
 * spinner customization
 */
.spinner .form-control,
.spinner button {
  font-size: 13px !important;
  height: 22px !important;
  padding: 1px 12px !important;
}
.spinner .input-group-btn-vertical > .btn {
  padding: 5px;
}
.spinner .input-group-btn-vertical i {
  left: 2px;
  top: -1px;
}
.input-line {
  border-collapse: separate;
  display: inline-flex;
  position: relative;
}
.selection-text {
  margin-left: 10px !important;
}
.bootstrap-touchspin-down {
  margin-left: 5px !important;
}
/**
 * listitem_line.tpl
 */
.hidden-xs {
  padding: 0 !important;
}
.pictureBox {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease !important;
}
.pictureBox:hover {
  width: 200px;
  height: 200px;
  transition: all 0.3s ease !important;
  transition-delay: 0.3s !important;
}
.pictureBox img {
  width: 100%;
  height: 100%;
}
.img-thumbnail {
  display: inline-block;
  height: auto;
  line-height: 1.42857;
  max-width: 100%;
  padding: 0 !important;
}
#newItems {
  list-style: none;
}
.productData {
  float: left;
  width: 250px;
}
/* Suche und Navbar Wrapper */
.sn-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 80%;
}
.shrinked #header .sn-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 80%;
}
/* Suche Wrapper */
.searchdiv {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 22%;
  margin-top: 0.5%;
}
/* Navi Wrapper */
.nav-div {
  float: left;
}
/* Service Wrapper */
.service-div {
  float: left;
}
/* Suche: */
#header form.search {
  z-index: 1500;
}
.lupe {
  float: left;
  width: 13%;
}
.nav > li > a {
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-nav > li > .dropdown-menu {
  padding-left: 8px;
}
.unshrinked #header .navbar-collapse {
  width: 100% !important;
  z-index: 99;
}
#footer .col-md-3 ul {
  padding-left: 0px;
}
#footer .col-md-3 ul li {
  list-style-type: none;
}
#footer .headline {
  font-weight: bold;
}
.navbar-nav > li > a {
  padding-bottom: 14px;
  padding-top: 14px;
}
/**
 * @todo remove - may be this ist from oxid original
 */
.clear {
  clear: both;
}
.refineParams > #sortItems,
.refineParams > #itemsPerPage,
.refineParams > #viewOptions {
  float: left;
}
.ui-helper-hidden-accessible,
#rssActiveCategory,
#catLongDesc,
#rssActiveCategory span,
#panel .bar {
  display: none;
}
/**
 *  search
 */
/*
.unshrinked #header .searchBox button {
  height: 50px;
  width:  50px;
  float: left;
  margin-left: 10px;
}
#header #results {
  display: none;
  position: absolute;
  margin-left: 0!important;
  top: 31px;
  max-width: 400px;
  min-width: 1px;
  border: 1px solid       #e7e7e7;
  background-color:       #fff;
  z-index:1500;
  width: 400px;
}
#header #results .title {
  text-align: left;
}

.unshrinked #header #results {
}
.shrinked #header #results {
  top: 29px;
  right: 40px;
}
#header form.search {
  position: relative;
  z-index:1500;
}
#header #results .first {
  display: none;
}
#header #results .image,
#header #results .title {
  padding-left: 5px;
}


.shrinked #header .searchBox input[type=text] {
  float: left;
  z-index:99;
}
.shrinked #header .resultspresent input[type=text] {
  display: block !important;
}
.unshrinked #header .searchBox button {
  height: 30px;
  width:  30px;
  float: left;
}
.shrinked #header .searchBox button {
  height: 30px;
  width:  30px;
  float: left;
  margin-left: 10px;
}
.shrinked #header .searchBox button i {
  font-size: 1em !important;
}
*/
/**
 * minibasket
 */
#miniBasket a {
  position: relative;
}
#miniBasket a:hover {
  text-decoration: none !important;
}
#content {
  margin-top: 25px;
}
/**
 * Deaktivieren der Zahlungsart und Versandartänderung im Checkout
 */
#orderShipping,
#orderPayment {
  display: none;
}
.nav-tabs {
  font-size: 14px !important;
}
/**
 * Spinner styles
 */
.spinner {
  width: 60px;
  /*100px;*/
  position: relative;
}
.spinner input {
  text-align: right;
  width: 48px !important;
}
.input-group-btn-vertical {
  position: absolute;
  white-space: nowrap;
  width: 1%;
  /*vertical-align: middle;*/
  display: table-cell;
  top: 0px;
  right: 12px;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}
.accountDashboardView dl {
  float: left;
  width: 300px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.pull-right {
  float: right !important;
}
/* Warenkorb */
.btn-warenkorb {
  height: 19px;
  font-size: 10px;
  width: 111px;
  padding: 1px 12px !important;
}
.warenkorb {
  position: relative !important;
}
/* Warenkorb ende */
/* aus Oxid.css validate error */
.oxValidateError {
  display: none;
  clear: both;
  font-size: 11px;
  line-height: 14px;
  color: #ff0000;
  margin: 0;
  padding: 5px 0 5px 175px;
}
.oxValidateError span {
  display: none;
}
.oxValidateError span.req {
  float: none;
  display: inline;
}
.oxInValid label,
.oxInValid p {
  color: #ff0000;
}
.oxInValid input,
.oxInValid select,
.oxInValid input:focus {
  border-color: #e40000;
  background: #fff8f8;
}
.oxInValid select {
  border-style: solid;
  border-width: 1px;
}
.oxInValid .oxValidateError,
.oxInValid .oxValidateError .js-oxError_postError {
  display: block;
}
/*ende oxid.css */
/* start quickorder styles */
#QuickPositions .headline .td {
  font-weight: bold;
}
#QuickPositions .tr {
  clear: both;
}
#QuickPositions .td {
  padding-right: 10px;
  padding-bottom: 2px;
}
#QuickPositions .artnum {
  width: 110px;
}
#QuickPositions .artnum input {
  width: 110px;
}
#QuickPositions .title,
#QuickPositions .title input {
  width: 500px;
}
#QuickPositions .price {
  width: 100px;
  text-align: right;
}
#QuickPositions .amount {
  width: 75px;
}
#QuickPositions .amount input {
  width: 50px;
}
#QuickPositions .stock {
  width: 75px;
}
#QuickPositions .stock .stock0,
#QuickPositions .stock .stock1,
#QuickPositions .stock .stock2 {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}
#QuickPositions .stock .stock0 {
  background-color: #00FF00;
}
#QuickPositions .stock .stock1 {
  background-color: #FFFF00;
}
#QuickPositions .stock .stock2 {
  background-color: #FF0000;
}
#QuickPositions #newEntryAutoComplete .tr {
  height: 20px;
  width: 100%;
}
#QuickPositions #newEntryAutoComplete .even {
  background-color: #ccc;
}
#QuickPositions #newEntryAutoComplete .odd {
  background-color: #eee;
}
#QuickPositions #newEntryAutoComplete .tr {
  cursor: pointer;
}
#QuickPositions #newEntryAutoComplete .tr:hover {
  background-color: #0066cc;
}
#OXARTNUM {
  width: 600px;
}
.addressBookItem {
  background-color: #fff;
  border-color: #ddd;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  box-shadow: none;
  margin-left: 0;
  margin-right: 0;
  border-style: solid;
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}
.addressBookItem:hover {
  background-color: #ddd;
}
.form-group .big {
  width: 70% !important;
  float: left;
}
.form-group .small {
  width: 30% !important;
  float: left;
}
#orderPreview .headline td {
  font-weight: bold;
}
#orderPreview .amount {
  width: 75px;
}
#orderPreview .title {
  width: 350px;
}
#orderPreview .price {
  text-align: right;
  width: 100px;
}
/* ende quickorder styles */
/* Details Modal */
.pictureBoxDetails img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* Startseite */
.startbtns {
  /*margin-left: auto;
  margin-right: auto;
  width:40%;*/
  display: flex;
  justify-content: center;
}
.mini-basket-center {
  margin-top: 0px;
  right: 1px;
  bottom: 1px;
  z-index: 100;
}
.btn-logout {
  width: 150px;
  margin-top: 10px;
  margin-left: 15px;
}
.basketBox {
  margin-top: 0;
}
.symbol-logout {
  padding-top: 2px;
}
#languageSwitcher {
  float: left;
}
.dropdown-menu {
  min-width: 10px;
}
.popover {
  font-size: 12px;
}
.popover-content table {
  width: 250px;
}
.popover-content td {
  min-width: 10px;
  border-bottom: solid 1px;
  padding-bottom: 2px;
}
.popover-content .amount td {
  width: 10px;
}
.popover-content .title {
  width: 150px;
}
.minbsum {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
/* ende Startseite */
/* Passwort Formular einblenden */
.hide {
  display: none;
}
.show {
  display: block;
}
#basketTotalProductsNettoWeight {
  text-align: right;
  width: 175px;
}
#basketTotalProductsNettoPrice {
  text-align: right;
  width: 100px;
}
/* Rechnungsadresse Form & Lieferadresse Form */
.req {
  font-weight: bold !important;
}
.norm {
  font-weight: normal !important;
}
#incVatMessage {
  position: fixed;
  bottom: -3px;
  right: -5px;
  font-size: 11px;
  padding: 4px 20px 6px 17px;
  opacity: 0.6;
  z-index: 9999;
}
.back-to-top {
  display: none;
}
.back-to-top i {
  font-size: 50px;
}
.artnr {
  margin-left: 5px;
}
/* basketcontents */
.weight,
.unitPrice,
.totalPrice {
  text-align: right !important;
  min-width: 80px !important;
}
.adress-margin-left {
  margin-left: 10px !important;
}
.strasse {
  width: 80% !important;
}
.shipadress-input {
  margin: 20px 0 0 !important;
}
/*------------webstorm.less----------------*/
.debug-sm {
  border: solid 1px blue;
}
/* Navigation */
.logo a:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}
/* Navi-Suche */
.form-group-suche {
  width: 97%;
  display: inline-flex !important;
  margin-left: 1%;
  margin-right: 1%;
}
.form-group-suche input {
  margin-right: 5px;
}
/* Service Box */
.form-group-service {
  width: 100%;
}
/* Minibasket */
/* Language Box */
.symbol-flags {
  display: inline-block;
  width: 10%;
  margin-left: 10%;
  margin-right: 4%;
}
/* Abmeldebutton */
/* Service Menue */
.mini-basket-center {
  margin-top: 5px;
}
.symbol-basket {
  margin: 0 !important;
  padding: 5px 5px !important;
}
.symbol-logout {
  margin: 10px 0 !important;
  padding: 10px 5px !important;
}
/* Navi-Menue */
.navbar-suche {
  margin: 8px 0 !important;
  padding: 10px 15px !important;
}
.breite-100pc {
  width: 100% !important;
}
.navbar-menue {
  /*margin-left: auto;
  margin-right: auto;*/
  padding: 10px 30px !important;
  min-width: 768px !important;
}
.div-navbar-menue {
  display: block !important;
}
.navbar-nav > .dropdown > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #75b3c1 !important;
  border-color: #76a8c1 !important;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff !important;
  text-transform: uppercase;
}
.service-leiste {
  overflow: visible !important;
}
.nav-tabs.nav-justified > li > a {
  /*border: none !important;*/
}
div.nav-tabs.nav-justified > li > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #75b3c1 !important;
  border-color: #75a3ae !important;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 0 !important;
}
div.nav-tabs.nav-justified > li > a :hover {
  background-color: #0066bb;
}
li:nth-child(1) {
  min-width: 80px !important;
}
li:nth-child(2) {
  min-width: 162px !important;
}
li:nth-child(3) {
  min-width: 125px !important;
}
li:nth-child(4) {
  min-width: 133px !important;
}
li:nth-child(5) {
  min-width: 152px !important;
}
/* Media Queries: */
@media (min-width: 768px) {
  .unshrinked #header {
    height: 115px;
    background-color: #F0F0F0;
    border-color: #ffffff;
  }
  .shrinked #header {
    background-color: #F0F0F0;
    border-color: #ffffff;
  }
  .form-group-service > a.minib {
    margin-left: 15%;
  }
  .div-navbar-menue {
    padding-left: 0 !important;
    min-width: 800px !important;
    margin-left: -5% !important;
  }
  .dre-nav-oben {
    margin-left: -5% !important;
  }
  .form-group-service > a.minilogout {
    margin-left: 12%;
  }
}
@media (max-width: 768px) {
  .form-group-service > a.minib {
    margin-left: 5%;
  }
  /* Minibasket */
  .form-group-service > a {
    margin-left: 10%;
  }
  /* Language Box */
  .symbol-flags {
    display: inline-block;
    width: 20%;
    margin-right: 4%;
  }
  /* Abmeldebutton */
}
/* Sichtbar auf: */
.hidden-on .col-xs-6 .visible-lg-block,
.hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-sm-block,
.hidden-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-lg-block,
.visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-sm-block,
.visible-on .col-xs-6 .visible-xs-block {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847;
}
.responsive-utilities-test span {
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  padding: 15px 10px;
  text-align: center;
}
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}
.newscontainer {
  width: 100%;
}
.newsbox {
  /*width: 50%;
  margin-left: auto;
  margin-right:auto;*/
}
