<!DOCTYPE HTML>
<html>
  <head>
      <title>[{$title}]</title>
      <meta http-equiv="Content-Type" content="text/html; charset=[{$oEmailView->getCharset()}]">
  </head>

  <body bgcolor="#ffffff" link="#355222" alink="#18778E" vlink="#389CB4" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">

    <div width="600" style="width: 600px">

        <div style="padding: 10px 0;">
            <img src="[{*$oViewConf->getImageUrl('logo_email.png', false)*}]https://sales.bodynova.com/out/bb2b/src/img/logo-big.png" border="0" hspace="0" vspace="0" alt="[{ $shop->oxshops__oxname->value }]" align="texttop">
        </div>

