.fontNormal (@size: 14px) {
	font-weight:normal;
	line-height:150%;
	font-family: "Droid Sans", sans-serif;
	font-size:@size;
}
.fontHeading (@size: 16px) {
	font-weight:bold;
	line-height:100%;
	font-family: "Fjalla One";
	font-size:@size;
}