.rounded-corners (@radius: 3px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}
.rounded-corners-top (@radius: 3px) {
	-webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
}
.rounded-corners-bottom (@radius: 3px) {
	-webkit-border-bottom-right-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-right-radius: @radius;
	border-bottom-left-radius: @radius;
}
.transition (@type: all, @time: 0.2s, @animation: ease-in-out) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	-ms-transition: @arguments;
	transition: @arguments;
}
.shadow (@attr) {
	-moz-box-shadow:    @attr;
	-webkit-box-shadow: @attr;
	box-shadow:         @attr;
}
.simpleGradientHorizontal(@color1,@color2) {
	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  @color1 0%, @color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,@color1), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  @color1 0%,@color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  @color1 0%,@color2 100%); /* IE10+ */
	background: linear-gradient(135deg,  @color1 0%,@color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.simpleGradientVertical(@color1,@color2) {
	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(top,  @color1 0%, @color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @color1 0%,@color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @color1 0%,@color2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @color1 0%,@color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 ); /* IE6-9 */
}
.letterPress(@color) {
	text-shadow: 0px 1px 1px lighten(@color,35%);
	color: @color;
}