@import 'grid.less';
@import 'fonts.less';
@import 'functions.less';
// Semantic Grid Einstellungen
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;
@gutter-width-pixel: 20px;
// Farben
// http://www.colourlovers.com/palette/443995/i_demand_a_pancake
@colorDark: #594F4F;
@colorDarkBlue: #547980;
@colorBlue: #45ADA8;
@colorGreen: #9DE0AD;
@colorYellow: #E5FCC2;
// Default Styling
body {
	.fontNormal();
	background:@colorDarkBlue;
	color:darken(@colorDark,10%);
	&> div, &> footer, &> header, &> nav {
		max-width:960px;
		width:100%;
		margin:0px auto 0px auto;
		.clearfix();
	}
	a {
		color:@colorBlue;
		font-weight:bold;
		text-decoration:underline;
		letter-spacing:-0.5px;
		&:hover {
			text-decoration:none;
		}
	}
	button {
		.fontHeading(14px);
		font-weight:normal;
		padding:8px;
		line-height:90%;
		text-transform:uppercase;
		color:@colorYellow;
		.simpleGradientVertical(lighten(@colorBlue,15%),@colorBlue);
		border:1px solid darken(@colorBlue,12%);
		.rounded-corners(5px);
		cursor:pointer;
		.shadow(inset 0px 0px 1px #FFF);
		text-shadow:-1px -1px 0px darken(@colorBlue,10%);
		&.full-size {
			display:block;
		}
		&:hover {
			.simpleGradientVertical(@colorBlue,lighten(@colorBlue,15%));
		}
	}
	form {
		.clearfix;
		margin:0px;
		&>div {
			margin-bottom:10px;
			label {
				display:block;
				.column(6);
			}
			input[type=text], input[type=password], textarea, select {
				width: 100%;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				.rounded-corners();
				border:1px solid darken(#FFF,10%);
				background:#FFF;
				color:@colorDark;
				padding:6px;
				.fontNormal;
				line-height:100%;
				box-shadow:1px 1px 3px darken(#FFF,2%);
				&:focus {
					border:1px solid lighten(@colorBlue,10%);
				}
			}
			button {
				.column(5);
				.push(7);
				display:block;
			}
		}
	}
}
// Header
#top {
	h1 {
		.column(12);
		.fontHeading(38px);
		margin-top:30px;
		margin-bottom:20px;
		letter-spacing:-1px;
		a {
			text-decoration:none;
			.letterPress(darken(@colorDarkBlue,20%));
			&:hover {
				.letterPress(darken(@colorDarkBlue,15%));
			}
		}
	}
}
// Navigation
#menu {
	ul {
		.column(12);
		border-bottom:1px solid @colorDarkBlue;
		li {
			.column(2);
			a {
				display:block;
				text-decoration:none;
				margin:0px -10px;
				text-align:center;
				padding:10px;
				.simpleGradientVertical(lighten(@colorGreen,20%),@colorGreen);
				color:#FFF;
				text-shadow:-1px -1px 0px darken(@colorGreen,5%);
				.transition();
				&:hover {
					.simpleGradientVertical(lighten(@colorDarkBlue,20%),@colorDarkBlue);
					text-shadow:-1px -1px 0px darken(@colorDarkBlue,5%);
				}
			}
			&:first-child a {
				-webkit-border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;
			}
			&:last-child a {
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;
			}
		}
	}
}
// Content
#content {
	&> div {
		.column(12);
		background:#FFF;
		.rounded-corners-bottom(5px);
		padding:10px 0px;
	}
	article {
		.column(9);
		p {
			margin:10px 0px;
			text-align:justify;
		}
		#login {
			.column(6);
		}
		#picture {
			.column(6);
			text-align:right;
		}
	}
	aside {
		.column(3);
		.rounded-corners(5px);
		background:lighten(@colorYellow,7%);
		.shadow(inset -3px -3px 5px darken(@colorYellow,7%));
		p {
			margin:10px;
		}
	}
	h1, h2, h3 {
		.fontHeading();
		font-size:28px;
		letter-spacing:-1px;
		font-weight:normal;
		color:@colorBlue;
		margin:10px 0px;
	}
}
// Footer
#footer {
	font-size:12px;
	letter-spacing:-0.5px;
	color:darken(@colorDarkBlue,20%);
	line-height:100%;
	margin-top:20px;
	&>p {
		.column(8);
	}
	&>nav {
		.column(4);
		ul {
			li {
				.column(4);
				text-align:right;
				a {
					color:darken(@colorBlue,3%);
					text-decoration:none;
					&:hover {
						text-decoration:underline;
					}
				}
			}
		}
	}
}
// Mobile Devices
@media screen and (max-width: 960px) {
	#menu ul li {
		.column(6);
	}
	#content article {
		.column(12);
	}
	#content aside {
		.column(12);
		margin-top:20px;
	}
	#content article #login {
		.column(12);
	}
	#content article #picture {
		display:none;
	}
	#footer nav {
		.column(12);
		ul li {
			text-align:center;
		}
	}
	#footer p {
		.column(12);
		margin-bottom:10px;
	}
}