/*------------header.less----------------*/
// Body

body{
  .body-padding; // def: 150px
}
/*
body.unshrinked  {
  .body-padding(130px);
}

body.shrinked  {
  .body-padding(80px);
}
*/


//////////////////////////////////////////////////////////////////////////////NAVIGATION
// Navi-Leiste-wird kleiner beim scrollen


// Navigation

.navbar{
  min-height:@shrinked !important;
}
.logo{
  .height;
}
.suche {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.nav-tabs.nav-justified > li > a{
  border-bottom: none !important;
  border-radius: 0 !important;
}
// Navi-Suche
.form-group-suche{
  .width-100pc;
  .display-inline;
}
.form-group-suche input {
  .margin-right(5px);
}

/* Service Menue */
.mini-basket-center{
  .margin-top(5px);
}
.symbol-basket{
  .margin(0);
  .padding(5px 5px);
}
.symbol-flags{
  .margin-left(8px 0);
  .padding(10px 5px);
}
.symbol-logout{

  //.margin(10px 0);
  //.padding(10px 5px);
}

// Navi-Menue
.navbar-suche{
  .margin(8px 0);
  .padding(10px 15px);
}
.breite-100pc{
  .width(100%);
}
.navbar-menue{
  .padding(10px 30px);
  .min-width(768px);
}
.div-navbar-menue{
  .display-block(block);
}
.navbar-nav > .dropdown > a {
  .border-color(none);
  .background-color(@navi-navbar-background-color);
  .border-color(@navi-navbar-border-color);
  .border-image(none);
  .border-style(solid);
  .border-width(1px);
  .color(@navi-navbar-text-color);
  .text-transform(@navi-navbar-text-transform);
}
.service-leiste{
  .overflow(@navi-navbar-service-leiste);
}


//////////////////////////////////////////////////////////////////////////////Ende-Navigation...


// Header:
.shrinked #header .searchBox {
  top: 10px;
  width: 250px;
  left: 10%;
}
.shrinked #header .searchBox input[type=text] {
  height: 30px;
  max-width: 87% !important;
  float: left;
  font-size: 14px;
  z-index:99;
}
.shrinked #header .searchBox button {
  height: 30px;
  width:  30px;
  float: left;
}
.unshrinked #header .searchBox button i {
  font-size: 1em !important;
}
.shrinked #header .searchBox button i {
  font-size: 1em !important;
}

.shrinked #header .resultspresent input[type=text] {
  display: block !important;
}
.unshrinked #header .searchBox input[type=text] {
  max-width: 87% !important;
  height:30px;
  float:left;
  font-size:14px;
}

.unshrinked #header .searchBox button {
  //height: 30px;
  //width:  30px;
  //float: left;
}
#header #results {
  display: none;
  position: absolute;
  margin-left: 3px!important;
  top: 51px;
  //max-width: 400px;
  //min-width: 1px;
  border: 1px solid       #e7e7e7; //#66afe9;
  border-top: none !important;
  background-color:       #fff;
  z-index:1500;
  //width: 400px;
}
/*#header #results :hover{
  border: 1px solid #66afe9;
  border-top: none !important;
}*/
.shrinked #header #results {
  //top: 29px;
  //right: 40px;
}
#header #results .first {
  display: none;
}
#header #results .image,
#header #results .title {
  padding-left: 5px;
  padding-right: 5px;
}

.resall :hover{
  background-color: #66afe9;
  color: #FFFFFF;
}


.newsbox{
  margin-left: auto;
  margin-right: auto;
}
.newsbox h3{
  margin-left: auto !important;
  margin-right: auto !important;
}
