/*------------helper.less----------------*/

// Firefox gepunkteter Rahmen
a:active,
a:focus {
  .outline;
}
.btn:active,
.btn:focus {
  .outline;
}
// debugging
.debug{
  border: @border @color-Red;
}
.debug-sm{
  border:solid 1px blue;
}
.abtest{
  border: @border @color-Crimson;
}

// Element ausblenden
.hide{
  .hideme;
}

// Breite automatisch
.width-auto{
  .width;
}

// Breite 100%
.width-100pc{
  .width(100%);
}














/* Sichtbar auf: */
.hidden-on .col-xs-6 .visible-lg-block,
.hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-sm-block,
.hidden-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-lg-block,
.visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-sm-block,
.visible-on .col-xs-6 .visible-xs-block {

  background-color: @helper-color-background;
  border: 1px solid @helper-color-border;
  color: @helper-color-text;
}

.responsive-utilities-test span {
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  padding: 15px 10px;
  text-align: center;
}
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}


