/*------------liste.less----------------*/
/**
 * Ampel
 */
div.stockFlagBox {
  display: inline-block;
  height: 12px;
  width: 17px;
  position: relative;
  margin-bottom: -3px;
  margin-left: 5px;
}
div.notOnStock {
  background-color: @ampel-color-red;
}
div.lowStock {
  background-color: @ampel-color-yellow;
}
div.onStock {
  background-color: @ampel-color-green;
}

/**
 * Columns stuff
 */
.ebenetitel .headline {
  font-weight: bold;
}

.ebenetitel{
  width: 650px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;

}
.tableselections .ebenetitel{
  width: 630px;
}

.ebeneprice{
  width: 250px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;

}
.ebenepreisneu{
  width: 194px;

  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ebeneselect{
  /*width: 100px;*/

  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

}

td.imagecolumn {
  width: 78px;
}
.tableselections .tabellenspalte .bootstrap-touchspin-down{
  margin-left: 2px !important;
}

.tableselections .imagecolumn{
  width: 88px;
}
.tableselections .Warenkorb{
  width: 152px;
}
.tableselections .selprice{
  width: 95px;
  text-align:right;
}
.tableselections .selprice .price{
  margin-right: 6px;
}
.tableselections .ampelcolumn{
  padding-left: 8px !important;
}


td.uvptitle {
  width: 52px;
}

td.uvpprice,
td.selprice {
  width: 95px;
  text-align:right;
}
.starttext{
  /*margin-left: 60px;
  display: block;
  justify-content: center;
  margin-left: 95px;
  */
  margin-left:auto;
  margin-right: auto;
  width: 942px;
}
.selprice{
  min-width: 120px !important;
  max-width: 120px !important;
}
td.ampelcolumn {
  min-width: 185px !important;
  font-size: 10px;
}

tr.articleselect {
  display: none;
}
tr.articleselect > td {
  padding: 0px !important;
}
.tableselections td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.articleselect .btn-basket {
  margin-left: 22px !important;
}

tr.highlight td {
  background-color: #428bca;
}


