/*------------mediaquerys.less----------------*/

// Media Queries:
/* Media Queries */


@media (max-width: 589px) {
  /*
  #logo {
    margin-top: 1px;
    display: block;
    background-image: url(../img/logo-small.png);
    background-repeat: no-repeat;
    width: 148px;
    height: 49px;
  }
  */
}
// Iphone Portrait:  (320x480)
// Iphone Landscape: (480x320)
@media (min-width: 590px) {

}

// Sichtbar:
// .visible-xs-*
// .hidden-sm
// .hidden-md
// .hidden-lg

// Small Tablet Portrait:  (600x800)
@media (max-width: 768px) {
  .unshrinked #header{
    height: auto;
  }
  .unshrinked #header .searchBox {
    right: 0px !important;
    top: 60px !important;
  }
  .unshrinked #header .searchBox input[type="text"] {
    font-size: 14px !important;
    height: 30px !important;;
    width: 300px !important;;
  }
  .shrinked #header .searchBox {
    right: 100px !important;
    top: 10px !important;
  }
}


// Sichtbar:
// .visible-sm-*
// .hidden-xs
// .hidden-md
// .hidden-lg

// Small Tablet Landscape: (800x600)
@media (min-width: 768px) {


  .unshrinked #header .searchBox {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .unshrinked #header .searchBox {
    right: 0px !important;
    top: 60px !important;
  }
  .unshrinked #header .searchBox input[type="text"] {
    font-size: 14px !important;
    height: 30px !important;;
    width: 300px !important;;
  }
  .shrinked #header .searchBox {
    right: 100px !important;
    top: 10px !important;
  }
  /*
  .div-navbar-menue{
    padding-left: 0 !important;
    min-width: 800px !important;
    margin-left: -5% !important;
  }
  .dre-nav-oben{
    margin-left: -5% !important;
  }*/
}


// import von dre_bodynova
@media (max-width: 855px) {
  .nav > li > a {
    font-size: 7pt;
  }
  /*
  .navbar-nav  {
    background-color: floralwhite;
  }

  .dropdown-menu .dropdown-submenu:hover .dropdown-menu{
    display: none !important;
  }*/
}
@media (min-width: 855px) {
  .shrinked #header .navbar-collapse {
    width: 100% !important;
    z-index: 99;
  }
  .shrinked #header .nav > li > a {
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
  }

  /*
  ul.nav > li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .navbar-nav > .dropdown > a {
    text-transform: uppercase;
    border: 1px solid;
    background-color: #75B3C1 !important;
    color: #FFF !important;
    border-color: #76A8C1 !important;
  }
  .navbar-nav > .dropdown > a:hover {

    background-color: #E6E6E6 !important;
    border-color: #ADADAD !important;
    color: #001 !important;
  }
  */
}


// Tablet Portrait  (768x1024)
@media (max-width: 992px) {
}
// Sichtbar:
// .visible-md-*
// .hidden-xs
// .hidden-sm
// .hidden-lg

// Tablet Landscape (1024x768)
@media (min-width: 992px) {

  .div-navbar-menue{
    padding-left: 10% !important;
    min-width: 990px !important;
    margin-left: 0 !important;
  }
  .dre-nav-oben{
    padding-left: 11% !important;
    margin-left: 0 !important;
  }

  /*
  nav .navbar > ul > li .logo > a > img {

      width: 25% !important;
      height: 25% !important;

    }



    .div-navbar-menue{
      padding-left: 10% !important;
      min-width: 990px !important;
      margin-left: 0 !important;
    }
    .dre-nav-oben{
      padding-left: 11% !important;
      margin-left: 0 !important;
    }
    */
}

// Monitor : -> (1913x1057)
@media (max-width: 1200px) {
}

//Sichtbar:
// .visible-lg-*
// .hidden-xs
// .hidden-sm
// .hidden-md
// Monitor : -> (1913x1057)
@media (min-width: 1200px) {

  .div-navbar-menue{
    padding-left: 15% !important;
    min-width: 1150px !important;
  }
  .dre-nav-oben{
    padding-left: 1% !important;
  }

  /*
  .div-navbar-menue {
    padding-left: 15% !important;
    min-width: 1150px !important;
  }

  .dre-nav-oben {
    padding-left: 1% !important;
  }*/
}

