/*------------mixings.less----------------*/
.outline(@bool: none){
  outline: @bool;
}
.hideme(@visible: hidden;){
  visibility:   @visible !important;
}

// Width:
.width(@width: auto;){
  width: @width !important;
}
.min-width(@wert){
  min-width: @wert !important;
}
.max-width(@wert){
  max-width: @wert !important;
}



.body-padding(@wert: 150px;){
  padding: @wert !important;
}
.height(@height: 75px){
  height: @height;
}


// display
.display-inline(@inline-flex: inline-flex;){
  display:  @inline-flex !important;
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
}
.display-block(@block: block;){
  display: @block !important;
}

// Margins im Uhrzeigersinn:
// oben->rechts->unten->links
.margin(@wert){
  margin:@wert !important;
}
.margin-top(@wert){
  margin-top:@wert !important;
}
.margin-right(@wert){
  margin-right: @wert !important;
}
.margin-bottom(@wert){
  margin-bottom:@wert !important;
}
.margin-left(@wert){
  margin-left: @wert !important;
}

// Padding im Uhrzeigersinn:
// oben->rechts->unten->links
.padding(@wert){
  padding:@wert !important;
}
.padding-top(@wert){
  padding-top:@wert !important;
}
.padding-right(@wert){
  padding-right:@wert !important;
}
.padding-bottom(@wert){
  padding-bottom:@wert !important;
}
.padding-left(@wert){
  padding-left: @wert !important;
}

// Text Navbar
// Color
.color(@wert: none){
  color: @wert !important;
}
// Transform
.text-transform(@wert: none){
  text-transform: @wert !important;
}


// border
.border-color(@wert: none){
  -moz-border-bottom-colors: @wert;
  -moz-border-left-colors: @wert;
  -moz-border-right-colors: @wert;
  -moz-border-top-colors: @wert;
}
.border-image(@wert: none){
  border-image: @wert !important;
}

.border-style(@wert: none){
  border-style: @wert !important;
}
.border-width(@wert: none){
  border-width: @wert !important;
}


// background
.background-color(@wert: none){
  background-color: @wert !important;
}


// overflow
.overflow(@wert: hidden){
  overflow: @wert !important;
}


