/*------------webstorm.less----------------*/
.debug-sm{
  border:solid 1px @color-Blue;
}

/* Navigation */
.logo a:hover{
  background-color: transparent !important;
  border-color: transparent !important;
}

/* Navi-Suche */
.form-group-suche{
  width:97%;
  display: inline-flex !important;
  margin-left: 1%;
  margin-right: 1%;
}
.form-group-suche input {
  margin-right: 5px;
}

/* Service Box */
.form-group-service {
  width: 100%;

}

/* Minibasket */


/* Language Box */
.symbol-flags{
  display: inline-block;
  width: 10%;
  margin-left: 10%;
  margin-right: 4%;
}

/* Abmeldebutton */
.form-group-service > a.btn{
  //width: 10%;
  //margin-left: 5%;
}



/* Service Menue */
.service-div{

}
.mini-basket-center{
  margin-top: 5px;
}
.symbol-basket{
  margin:  0 !important;
  padding: 5px 5px !important;
}

.symbol-logout{
  margin: 10px 0 !important;
  padding: 10px 5px !important;
}

/* Navi-Menue */
.navbar-suche{
  margin: 8px 0 !important;
  padding: 10px 15px !important;
}
.breite-100pc{
  width: 100% !important;
}
.navbar-menue{
  /*margin-left: auto;
  margin-right: auto;*/
  padding: 10px 30px !important;
  min-width: 768px !important;
}
.div-navbar-menue{
  display: block !important;
}
.navbar-nav > .dropdown > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #75b3c1 !important;
  border-color: #76a8c1 !important;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff !important;
  text-transform: uppercase;
}
.service-leiste{
  overflow: visible !important;
}

.nav-tabs.nav-justified > li > a {
  /*border: none !important;*/
}
div.nav-tabs.nav-justified > li > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #75b3c1 !important;
  border-color: #75a3ae !important;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 0 !important;
}
div.nav-tabs.nav-justified > li > a :hover{
  background-color: #0066bb;
}
li:nth-child(1){
  min-width: 80px !important;
}
li:nth-child(2){
  min-width: 162px !important;
}
li:nth-child(3){
  min-width: 125px !important;
}
li:nth-child(4){
  min-width: 133px !important;
}
li:nth-child(5){
  min-width: 152px !important;
}

/* Media Queries: */

@media (max-width: 500px) {

}

@media (min-width: 768px) {
  .unshrinked #header {
    height:             @unshrinked;
    background-color:   @color-header-background;
    border-color:       @color-header-border;
  }
  .shrinked #header {
    //height:             @shrinked;
    background-color:   @color-header-background;
    border-color:       @color-header-border;
  }

  .form-group-service > a.minib{
    //width: 10%;
    margin-left: 15%;
  }

  .div-navbar-menue{
    padding-left: 0 !important;
    min-width: 800px !important;
    margin-left: -5% !important;
  }
  .dre-nav-oben{
    margin-left: -5% !important;
  }
  .form-group-service > a.minilogout{
    //width: 10%;
    margin-left: 12%;
  }
}
@media (max-width: 768px) {

  .form-group-service > a.minib{
    //width: 10%;
    margin-left: 5%;
  }

  /* Minibasket */
  .form-group-service > a{
    margin-left: 10%;
  }
  /* Language Box */
  .symbol-flags{
    display: inline-block;
    width: 20%;
    //margin-left: 25%;
    margin-right: 4%;
  }

  /* Abmeldebutton */
  .form-group-service > a.btn{
   // width: 10%;
    // margin-left: 12%;
  }

}

/* Sichtbar auf: */
.hidden-on .col-xs-6 .visible-lg-block, .hidden-on .col-xs-6 .visible-md-block, .hidden-on .col-xs-6 .visible-sm-block, .hidden-on .col-xs-6 .visible-xs-block, .visible-on .col-xs-6 .visible-lg-block, .visible-on .col-xs-6 .visible-md-block, .visible-on .col-xs-6 .visible-sm-block, .visible-on .col-xs-6 .visible-xs-block {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847;
}
.responsive-utilities-test span {
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  padding: 15px 10px;
  text-align: center;
}
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}
