/*
    Variablen:
*/
h1,
h2,
h3,
h4 {
  font-family: Georgia;
  color: #ff0000;
}
/*
    Eine andere .less Datei einbinden:

    die Datei wird so eingebunden, als wäre sie hier geschrieben.
*/
.abtest {
  border: solid 1px crimson;
}
/* Farben: */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*
    Header
*/
.headerBox {
  width: 100%;
  height: 200px;
}
/*
    Debugging:
*/
.debug {
  border: solid 1px #ff0000;
}
/*# sourceMappingURL=style_dre.css.map */